.root {
  padding: 0 24px 32px 24px;
  box-shadow: 0px 2px 8px rgba(46, 50, 56, 0.04), 0px 8px 24px rgba(46, 50, 56, 0.08);
  border-radius: 8px;
  background: #FFFFFF;

  h3 {
    margin: 30px 0;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #7B818A;
    letter-spacing: -0.03em;
  }
}
