.root {
  margin: 64px 0 0 0;


}

.heading {
  padding: 0;
  display: flex;
  justify-content: space-between;

  h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7B818A;
    margin: 0;
  }

  button {
    background: #0180FF;
    color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 8px 16px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    &:hover {
      background: darken(#0180FF, 1%);
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

  th {
    border-bottom: solid 1px #E0E0E0;
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #7B818A;
    padding: 10px 10px 10px 0;
    letter-spacing: 0.1em;
  }

  tr:first-child {
    td {
      padding-top: 32px;
    }
  }

  td {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #7B818A;
    padding: 0 16px 16px 0;
  }

  .primaryHeader {
    color: #0180FF;
  }

  .selectCell {
    width: 50%;
  }

  .numberCell {
    width: 95px;
  }

  .removeCell {
    text-align: right;
    padding-right: 0;
    width: 80px;

    button {
      border: none;
      background: none;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
